*{
    padding:0;
    margin:0;
    list-style: none;
}
html{
    font-size: 100px;
    width: 100%;
    height: 100%;
}
input,textarea{
    outline: none;
}
body{
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media screen and (min-width: 375px){
    html{
        font-size: 50px;
    }
}
@media screen and (min-width: 412px) {
    html{
        font-size: 55px;
    }
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-container {
    height:3.5rem;
    background: grey;
}
.swiper-wrapper{
    line-height: 4rem;
    text-align: center;
}
/*轮播结束*/
.btn-box{
    width: 100%;
    height: 1rem;
    background:  #f4f1ea;
    margin:0.2rem 0;
    display: flex;
    justify-content: space-around;
}
.btn-box div{
    width:50%;
    height:1rem;
    background:  #f4f1ea;
    text-align: center;
    line-height: 1rem;
}
.done.active{
    background: #ff5207;
    color:white;
    font-size:.4rem ;
}
.wait.active{
    background: #ff7203;
    color: #fcfffc;
    font-size:.4rem ;
}
.inner-box{
    width: 100%;
    height:1rem;
    position:fixed;
    left:0;
    bottom:0;
    background: #b7b7b7;
}
#add{
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color: #fffdff;
    background: #ff1307;
    font-size: .4rem;
    line-height: 1rem; 
}

#dell{
    display: block;
    text-align: center;
    cursor: pointer;
    width: .7rem;
    height: .7rem;
    background: #ff0801;
    margin-left:6rem;
    margin-top: .14rem;
    font-size: .5rem;
    line-height: .7rem;
    color: #fffafd;
    position: absolute;
    right:1rem;
    top:0rem;
}
.content{
    width: 100%;
    background: #f4f1ea;
    height: calc(100% - 5.9rem);
    overflow: hidden;
    position: relative;
    border:1px solid #fff;
    /*transition:all 1s ;*/
}
.content li{
    height:1rem;
    margin:0 0 0.2rem;
    background: #fffdbd;
    display: flex;
    line-height: 1rem;
    position:relative;
}
.right{
    width: 2.5rem;
    height: 1rem;
    background: red;
    text-align: center;
    color:white;
    font-size: .3rem;
    line-height: 1rem;
    position:absolute;
    right:-2.5rem;
    top:0;
}
.del{
    width: 2.5rem;
    height: 1rem;
    background: #00ffa3;
    text-align: center;
    color:white;
    font-size: .3rem;
    line-height: 1rem;
    position:absolute;
    right:-2.5rem;
    top:0;
}
.content li p{
    width: 4.2rem;
    margin:0 0.1rem 0 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white;
}
.content li input{
    width: 0.34rem;
    height: 0.34rem;
    margin:0.32rem 0.2rem 0.32rem 0.24rem;
}
.content ul li time{
    margin-top:.22rem;
    font-size: .14rem;
    color: #E5E5E5;
    line-height: .3rem;
}
.content ul li time span{
    color:#E5E5E5;
}
.content ul li>span{
    margin-left: .2rem;
    color:#E5E5E5;
}
/*-----------------*/
.content ul li span.active{
    color:orangered;
}
.editarea,.showarea{
    width: 6rem;
    height: 6rem;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    z-index: 99;
    background:palegoldenrod;
    border-radius: 0.3rem;
    display: none; /*----隐藏-----*/
}
.show-inner{
    width: 5rem;
    height: 5rem;
    border-radius: 0.3rem;
    padding:.5rem;
    font-size: .3rem;
    line-height: .44rem;
    position: relative;
    word-break: break-all;   /*字母居中*/
}
.editarea textarea{
    width: 5rem;
    height: 5rem;
    background: #fffdbd;
    border-radius: 0.3rem;
    resize: none;  /*禁止拖动*/
    padding:.5rem;
    font-size: .3rem;
    line-height: .44rem;
}
.editarea #subimt{
    width: 80%;
    height:0.8rem;
    background: red;
    position:absolute;
    bottom:0.2rem;
    left:0;
    right:0;
    margin:auto;
    border-radius: 0.2rem;
}
@keyframes show {
    0%{
        transform: scale(0.5,0.5);
    }100%{
             transform: scale(1,1);
         }
}
.show{
    animation:show .5s linear;
    display:block!important;
}
#subimt{
    color:white;
    font-size: 0.35rem;
}
.close,.showclose{
    width: .4rem;
    height: .4rem;
    position:absolute;
    right: .3rem;
    top:.3rem;
    text-align: center;
    line-height: .4rem;
    font-size: .4rem;
    color: #a5a5a5;
}
/*----------*/
#main{
    width: 100%;
    height: 100%;
    /*filter:blur(2px);*/
}
.mask{
    position: absolute;
    left: 0 ;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    display: none;
}




