/*顶部开始*/
.top{
    width: 100%;
    height: 25px;
    background: #f6f6f6;
    border-bottom: 1px solid #ececec;
}
.top-inner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.top-leftbox,.top-rightbox{
    width: auto;
    height:25px;
    display: flex;
    float: left;
    font-size: 12px;
    color: #888;
}
.top-leftbox li{
    border-right: 1px solid #ececec;
    padding: 0 10px;
    line-height: 25px;
}
.top-rightbox{
    height:12px;
    float: right;
    margin-top:5px;
}
.top-rightbox li{
    padding:0 6px;
    border-right: 1px solid #ececec;
    height: 15px;
    line-height:15px;
}
.top-rightbox li.top-img{
    width: 42px;
    height: 15px;
    padding:0 6px 0 0;
    margin-left: 10px;
}
.top-rightbox .top-del{
    border-right:0;
}
.top-rightbox li:nth-child(2){
    position: relative;
}
.ewm{
    position: absolute;
    top:20px;
    left:0;
    width: 160px;
    height: 155px;
    background:white;
    padding:30px;
    z-index: 9;
    display: none;
}
.top-rightbox li:nth-child(2):hover .ewm{
    display: block;
}
/*顶部结束*/
/*窗口右侧固定导航开始*/
.w-nav{
    width: 40px;
    height: 118px;
    position: fixed;
    right: 0;
    top:40%;
}
.w-nav-two{
    width: 40px;
    height: 117px;
    position:fixed;
    right:0;
    top:64%;
    z-index: 9999;
}
.w-nav-two-img{
    width: 40px;
    height: 117px;
    z-index: 9;
    position:absolute;
    left: 0;
    top:0;
}
.w-nav-box{
    width: 86px;
    height:87px;
    position:absolute;
    bottom:0;
    left:0;
}
.w-nav-box li{
    width: 86px;
    height: 22px;
    position:absolute;
    left:-20px;
    transition:all .5s;
}
.w-nav-box li:nth-child(1){
    bottom:58px;
}.w-nav-box li:nth-child(2){
    bottom:29px;
}.w-nav-box li:nth-child(3){
    bottom:0;
  }
/*窗口右侧固定导航结束*/
/*导航开始*/
.nav {
    width: 1200px;
    height: 92px;
    margin: 0 auto;
    padding: 15px 50px 15px 0;
}
.nav-left{
    width: 500px;
    height: 52px;
    padding-top:10px;
    display:flex;
    float: left;
}
.nav-left li:nth-child(1){
    width: 230px;
    height: 42px;
}
.nav-left li:nth-child(2){
    line-height: 42px;
    padding-left:20px;
}
.nav-right{
    width: 572px;
    height: 58px;
    float: right;
}
.so{
    width: 100%;
    height: 32px;
    position:relative;
}
.nav-right input{
    width: 100%;
    height: 32px;
    outline:none;
    border: 2px solid #dfdfdf;
    padding:3px 12px;
}
.so-txt{
    width: 85px;
    height: 32px;
    background: #25b2fe;
    position: absolute;
    top:0;
    right:0;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color: white;
}
input::-webkit-input-placeholder{
    color:#dfdfdf;
    font-size: 14px;
}
.nav-bottom{
    height: 26px;
    display: flex;
    font-size: 12px;
    line-height: 26px;
}
.nav-bottom li{
    padding-right:20px;
}
.add-color{
    color: #e40077;
}
.add-c{
    color: #666;
}
.nav-bottom li:hover{
    color:#337ab7;
    text-decoration: underline;
}
/*导航结束*/
/*头部开始*/
.head{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
.head li.head-one{
    width: 160px;
    color: #0085d0;
    font-weight: bold;
    border-top: 2px solid #0085d0;
}
.head>li{
    width: 260px;
    height: 100%;
    background: #E4E4E4;
    border-right:1px solid white;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.head>li:last-child{
    border:none;
}
.head-hover{
    width: 1200px;
    height: 40px;
    background:white;
    position: absolute;
    top:40px;
    left:0;
    z-index: 999;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    opacity: 0;
}
.head-hover li{
    line-height: 40px;
    font-size: 14px;
    color: #333;
}
.head-hover li:hover{
    color: #0085d0;
}
.kuai-o,.kuai-t,.kuai-three,.kuai-f{
    width: 12px;
    height: 12px;
    background: white;
    position: absolute;
    top:34px;
    transform: rotate(45deg);
    opacity: 0;
}
.kuai-o{
    left:284px;
}
.kuai-t{
    left:544px;
}
.kuai-three{
    left:804px;
}
.kuai-f{
    left:1064px;
}
/*.head>li:nth-child(2):hover .head-hover,*/
.head>li:nth-child(2):hover .kuai-o{
    opacity: 1;
}
.head_hover2,
/*.head>li:nth-child(3):hover .head-hover,*/
.head>li:nth-child(3):hover .kuai-t{
    opacity: 1;
}
/*.head>li:nth-child(4):hover .head-hover,*/
.head>li:nth-child(4):hover .kuai-three{
    opacity: 1;
}
/*.head>li:nth-child(5):hover .head-hover,*/
.head>li:nth-child(5):hover .kuai-f{
    opacity: 1;
}
.head>li:hover{
    color:#0085d0;
    background: #f1f1f1;
}
















/*头部结束*/
/*banner开始*/
.banner{
    width: 1200px;
    height: 350px;
    margin:5px auto 0;
    display: flex;
    justify-content: space-between;
}
.banner-left{
    width: 160px;
    height:100%;
    font-size: 12px;
    padding: 8px 10px 10px 10px;
    border: 1px solid #b8d9e9;
}
.banner-left li{
    width: 100%;
    font-size: 15px;
    color: #333;
    height: 45px;
    line-height: 42px;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}
.banner-left li:hover{
    color:#0085D0;
}
.banner-left .del-banner{
    height:24px;
    line-height: 24px;
    font-size: 12px;
}
.banner-img {
    width: 740px;
    height: 350px;
    background: darkgray;
    position: relative;
}
.banner-img-inner {
    width: 740px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.banner-img-inner li {
    width: 740px;
    height: 350px;
    transition: all 1s;
    position: absolute;
    left: 0;
    top: 0;
}
.banner-img-inner li a {
    display: block;
}
.banner-img-inner li img {
    width: 740px;
    height: 350px;
}
.dian-box {
    width: 120px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    display: flex;
    justify-content: space-between;
    z-index: 99999;
}
.dian-box li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #BDCBCE;
}
.banner-img .zzuo,.banner-img .nnext {
    width: 30px;
    height: 70px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.banner-img .zzuo {
    top: 50%;
    left: 0;
    margin-top: -35px;
}
.banner-img .nnext {
    top: 50%;
    right: 0;
    margin-top: -35px;
}
.banner-img .dian-box .dian-active {
    background: #D21F86;
}
@keyframes leftOut {
    0% {
        left: 0;
    }
    100% {
        left: -740px;
    }
}
.leftout {
    animation: leftOut 1s linear;
}
@keyframes leftIn {
    0% {
        left: -740px;
    }
    100% {
        left: 0;
    }
}
.leftin {
    animation: leftIn 1s linear;
}
@keyframes rightOut {
    0% {
        left: 0;
    }
    100% {
        left: 740px;
    }
}
.rightout {
    animation: rightOut 1s linear;
}
@keyframes rightIn {
    0% {
        left: 740px;
    }
    100% {
        left: 0;
    }
}
.rightin {
    animation: rightIn 1s linear;
}
.da {
    z-index: 2;
}
.banner-right{
    width: 276px;
    height:100%;
    border:1px solid #DFDFDF;
    padding-top:10px;
}
.banner-rtop{
    width: 100%;
    height: 156px;
    display: flex;
    flex-wrap: wrap;
}
.banner-rtop li{
    width: 91px;
    height: 78px;
    padding-top:12px;
}
.banner-rtop li div{
    margin:0 auto 12px;
    width: 32px;
    height: 32px;
}
.banner-rtop li div:hover img{
    transform: scale(1.2,1.2);
    transition:all .3s;
}
.banner-rtop li span{
    width: 100%;
    height: 22px;
    font-size: 12px;
    text-align: center;
    display: block;
}
.banner-rcenter{
    width: 100%;
    height: 20px;
    padding:0 20px;
    margin-top:20px;
}
.banner-rcenter span:nth-child(1){
    display: block;
    float: left;
    font:bold 14px 微软雅黑;
}
.banner-rcenter span:nth-child(2){
    float: right;
    color: #ff0000;
    font:bold  12px  微软雅黑;
    line-height: 20px;
}
.banner-right input{
    width: 235px;
    height: 36px;
    outline: none;
    padding:3px 5px;
    border: 1px solid #dadada;
    margin:8px 20px;
}
input::-webkit-input-placeholder{
    font-size: 12px;
    color:black;
}
.banner-rbottom{
    width: 100%;
    height: 36px;
    padding:0 20px;
    display: flex;
    justify-content: space-between;
}
.banner-rbottom li{
    width: 44px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #dadada;
    font-size: 12px;
    text-align: center;
    line-height: 36px;
    color:#666;
}
.banner-rbottom li:nth-child(2){
    background: #e40077;
    border: 1px solid #e40077;
    color: #fff;
}

.banner-rbottom li:hover{
    background: #e40077;
    border: 1px solid #e40077;
    color: #fff;
}
.ljcz{
    width: 90px;
    height: 35px;
    background: #33acfb;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    margin:10px auto ;
    line-height: 35px;
    text-align: center;
}
/*banner结束*/
/*长轮播开始*/
.long-box{
    width: 1200px;
    height: 180px;
    margin: 20px auto;
    background: #DFDFDF;
    position: relative;
    padding:10px 0px;
}
.left-long,.next-long{
    width: 28px;
    height: 35px;
    background: rgba(0,0,0,0.4);
    color:white;
    text-align: center;
    line-height:35px;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}
.left-long{
    left: 0;
    top:50%;
    margin-top:-17.5px;
}
.next-long{
    right: 0;
    top:50%;
    margin-top:-17.5px;
}
.long-inner{
    width:1170px;
    height: 160px;
    margin:0 auto;
    overflow:hidden;
}
.long{
    width: 5000px;
    height: 100%;
    transition:all 2s;
    margin-left:-1180px;
}
.long li{
    width:285px;
    height:100%;
    background: white;
    margin-right: 10px;
    float: left;
    position:relative;
    padding:6px 0 0 20px;
}
.long li div{
    width: 235px;
    height: 110px;
    position: absolute;
    bottom:0;
    right:0;
}
.long li h3{
    font: bold 18px "微软雅黑";
    color: #333;
}
.long li h4{
    font: normal 14px "微软雅黑";
    color: #666;
}
/*长banner结束*/
/*主体内容开始*/
/*享优惠开始*/
.main{
    width: 1200px;
    margin:0 auto;
    padding-bottom: 10px;
}
.main-title{
    width: 1200px;
    height: 48px;
    padding:0 25px;
    line-height: 48px;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
}
.main-title span:nth-child(1){
    color: #0085d0;
    font-size: 15px;
    font-weight: bold;
}
.main-title span:nth-child(2) {
    color: #666;
    font-size: 12px;
}
.main-inner{
    width: 100%;
    height: 380px;
}
.main-left{
    width: 300px;
    height: 380px;
    border: 1px solid #dfdfdf;
    border-top:0;
    float: left;
}
.main-right{
    width: 900px;
    height:380px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}
.main-right li{
    width: 300px;
    height:190px;
    border: 1px solid #dfdfdf;
    border-left:0;
    border-top:0;
    padding: 6px 0 0 20px;
    position: relative;
}
.main-right h3{
    font: bold 18px "微软雅黑";
    color: #333;
}
.main-right h4{
    font: normal 14px/20px "微软雅黑";
    color: #666;
}
.main-right li div{
    width: 220px;
    height: 130px;
    position:absolute;
    bottom:0;
    right:0;
}
.main-right li.add-bgc{
    background:#EFEFEF;
}
.main-right li div:hover img{
    transform: translate(-6px);
    transition: all 0.5s ease;
}
/*享优惠结束*/
/*买手机开始*/
.shouji{
    width: 100%;
    height: 380px;
    border-top:0;
    display: flex;
}
.shouji li{
    width: 300px;
    height: 100%;
    border: 1px solid #dfdfdf;
    border-top:0;
    padding:20px 0 0 20px;
    position: relative;
}
.shouji li div{
    width: 220px;
    height: 265px;
    position: absolute;
    bottom:0;
    right:0;
}
.shouji li div:hover img{
    transform: translate(-6px);
    transition: all 0.5s ease;
}
.shouji h4{
    font: normal 14px "微软雅黑";
    color: #666;
}
.shouji h5{
    font: normal 12px "微软雅黑";
    color: #0085d0;
    margin:4px 0 12px;
}
.shouji span{
    font: normal 20px "微软雅黑";
    color: #ef33a2;
}
.shouji .del-line{
    border-left:0;
}
/*买手机结束*/
/*主体内容结束*/
/*公告开始*/
.public{
    width: 1200px;
    height: 38px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    padding-right:20px;
}
.public>div:nth-child(1){
    width: 95px;
    height: 100%;
    line-height: 38px;
    color: #666;
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
}
.p-txt{
    width: 479px;
    height:38px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    line-height: 38px;
    overflow: hidden;
}
.p-txt-box{
    width: 479px;
    height:38px;
    display: flex;
    justify-content: space-between;
    line-height: 38px;
}
.p-txt span:nth-child(1){
    display: block;
    width: 315px;
    height: 100%;
    color:#0085d0;
    font-size: 15px;
}
.p-txt span:nth-child(2){
    display: block;
    width: 130px;
    height: 100%;
    font-size: 15px;
    color:#ccc;
}
.p-right{
    width: 64px;
    height: 100%;
    display: flex;
}
.p-right li{
    margin:0 10px;
    line-height: 38px;
    font-size: 18px;
    color:#0085d0;
    font-weight:bold;
    cursor: pointer;
}

/*.public div:nth-child(2)*/
/*公告结束*/
/*动态开始*/
.active{
    width: 1200px;
    height: 98px;
    margin:10px auto;
    border: 1px solid #dfdfdf;
}
.active-t{
    width: 100%;
    height: 34px;
    padding: 7px 20px 0 12px;
    margin-bottom:8px;
    display: flex;
    justify-content: space-between;
}
.active-t span{
    display: block;
    font-size: 12px;
    line-height: 34px;
}
.active-title{
    width: 97px;
    height: 34px;
}
.active-bottom{
    width: 100%;
    height: 50px;
    padding-top:4px;
    display: flex;
    flex-wrap: wrap;
}
.a-txt{
    width: 598.9px;
    height: 20px;
    padding-left:50px;
    display: flex;
}
.a-txt span:nth-child(1){
    width: 330px;
    display: block;
    margin-right:14px;
    color: #666666;
    font-size: 14px;
}
.a-txt span:nth-child(2){
    display: block;
    width: 180px;
    color: #d5cccc;
}
/*动态结束*/
/*信息开始*/
.mess{
    width: 1200px;
    height: 231px;
    margin:0 auto;
    border: 1px solid #dfdfdf;
    padding: 20px 0 20px 35px;
    display: flex;
}
.mess ul{
    width: 232px;
    height: 100%;
}
.mess ul li{
    width: 100%;
    height: 27px;
    color: #666;
    font-size: 15px;
    line-height: 27px;
}
.mess ul li.mess-first{
    color: #333;
    font-weight: 600;
}
/*信息结束*/
/*顶部开始*/
.footer{
    width: 1200px;
    height: 228px;
    padding:20px 0;
    margin:0 auto;
    font-size: 12px;
    color: #666;
}
.f-one{
    width: 100%;
    height:12px;
    display: flex;
    justify-content: center;
    padding:10px 0;
}
.f-one li{
    height:12px;
    padding:0px 4px;
    line-height: 12px;
    border-right:1px solid #333;
}
.footer .f-one li.del-lastline{
    border-right: 0;
}
.footer span{
    text-align: center;
}
.f-two{
    margin-top:10px;
    text-align: center;
}
.f-two li{
    line-height: 33px;
    height:33px;
}
.footer-tu{
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.footer-tu div:nth-child(1){
    width: 128px;
    height: 100%;
    margin-right: 20px;
}
.footer-tu div:nth-child(2){
    width: 161px;
    height: 100%;
}
/*顶部结束*/
/*所有图标*/
.public div span.public-icon{
    font-size: 22px;
    margin-right:4px;
}
.top li:hover{
    color:#25b2fe;
}
.top .top-icon{
    font-size: 14px;
    margin-right:2px;
}
.banner .banner-ic{
    font-size: 20px;
    font-weight: bold;
    color:#25b2fe;
    padding-right:4px;
}