
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1495342919714'); /* IE9*/
  src: url('../font/iconfont.eot?t=1495342919714#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1495342919714') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1495342919714') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1495342919714#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before { content: "\e60d"; }

.icon-fangdajing:before { content: "\e605"; }

.icon-gouwuche1:before { content: "\e626"; }

.icon-chongzhi:before { content: "\e63e"; }

.icon-15tian:before { content: "\e606"; }

.icon-7tian:before { content: "\e612"; }

.icon-chazhaowangdian:before { content: "\e648"; }

.icon-play:before { content: "\e611"; }

.icon-xuangoushouji:before { content: "\e602"; }

.icon-icon:before { content: "\e619"; }

.icon-weixiu:before { content: "\e6c4"; }

.icon-yiyuan:before { content: "\e610"; }

.icon-yijiuhuanxin:before { content: "\e600"; }

.icon-xuangoushangpin-:before { content: "\e60e"; }

.icon-shoujiqia:before { content: "\e614"; }

