*{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	list-style: none;
	text-decoration: none;
	font-family: "苹方 sans-serif";
	box-sizing: border-box;
}
header{
	width: 100%;
	/* background: rgba(0, 0, 0,0.5); */
}
.headerTitle{
	width: 1200px;
	height: 85px;
	margin: 0 auto;
	line-height: 85px;
}
.headerLeft{
	float: left;
}
.headerLeft span{
	/* color: #fff; */
	padding-left: 5px;
}
.headerLeft i{
	display: inline-block;
	font-weight: bold;
	font-size: 38px;
	color: #19bb9b;
}
.headerRight{
	float: right;
}
.headerRight ul li{
	float: left;
}
.headerRight ul li a:hover{
	color: #fff;
	background: #19bb9b;
}
.headerRight ul li a{
	font-weight: bold;
	/* font-weight: bold; */
	padding:15px;
	color: #19bb9b;
	font-size: 14px;
	transition: all 0.8s;
}
.headerRight ul li:nth-child(3) a{
	color: #fff;
	background: #19bb9b;
}
.banner{
	width: 100%;
	height: 488px;
	background: url('../img/banner2-1.jpg');
	position: relative;
}
.bannerCon{
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	color: #fff;
}
.bannerCon p{
	font-weight: bold;
	font-size: 90px;
    line-height: 112px;
    letter-spacing: 5px;
}
.bannerCon span{
	font-size: 25px;
    letter-spacing: 5px;
    line-height: 35px;
}
.bannerB{
	width: 100%;
	height:52px;
	background: #19bb9b;
}
.bannerB p{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	line-height: 52px;
}
.bannerB a{
	color: #fff;
}
.bannerB a:hover{
	text-decoration: underline;
}

.contentbox{
	width: 100%;
	height: auto;
	background:#f3f3f3; 
}
.content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.contentLeft{
	padding-top: 20px;
	color: #19bb9b;
	float: left;
}
.contentLeft p{
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 25px;
    letter-spacing: 3px;
}
.conLlist{
	margin-top: 10px;
}
.conLlist li{
	width: 210px;
	height:45px;
	
}
.conLlist li a{
	line-height:45px;
	display: block;
	width:200px;
	height: 100%;
	background: #ccc; 
	color: #000;
	margin: 0 5px;
	border-bottom: 1px solid #eee9e9;
}
.conLlist li a:hover{
	color: #19bb9b;
}

.content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.contentRight{
	padding-top: 65px;
	padding-bottom: 65px;
    padding-left: 280px;
}
.conRbox{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.conRbox li{
	width: 245px;
	height:184px;
	border-radius: 25px;
	margin: 20px 0;
	overflow: hidden;
	position: relative;
	-webkit-transition: 0.5s all;
}
.conRbox li img{
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.conRbox li:hover img{
	transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	transition-duration: 2s !important;
}
.conRbox li:hover .mask{
	transition: .5s all;
	transform: scale(0);
}
.conRbox .mask{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(0,0,0, 0.5);
}
.mask h5{
	font-size:30px;
    color: #fff;
    text-align: center;
    padding: 28% 0;
    font-weight: 200;
}



footer{
	width: 100%;
	padding-top: 60px;
	overflow: hidden;
	padding-bottom: 30px;
	background:  #19bb9b;
}
.footerLeft{
	color: #fff;
	text-align: left;
	float: left;
}
.footerLeft ul p{
	padding: 10px 0;
	text-align: left;
	font-size: 16px;
}
.footerLeft ul li{
	text-align: left;
	padding-top:5px;
	font-size: 14px;
}
.footerR{
	float: right;
	width: 200px;
	height: 116px;
	line-height: 30px;

	border: 1px solid #fff;
}
.footerR span{
	color: #fff;
	display: inline-block;
    padding-top: 30px;
}
